import numpy as np
import pandas as pd
import fasttext.util
import seaborn as sns
from sklearn.utils import resample
import tensorflow
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.layers import SpatialDropout1D
from tensorflow.keras.layers import Embedding
from tensorflow.keras.callbacks import EarlyStopping
from __future__ import unicode_literals
from sklearn import metrics
from sklearn import manifold
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
import math
import random
import time
from hazm import *
from collections import Counter
import csv, re, pickle
from colorama import Back, Fore, Style
import matplotlib.pyplot as plt
import pyclustering as pyclus

